# ignore virtual env
.venv/
venv/
ENV/

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# VS Code configuration files
.vscode/

# logs and datasets
data/
datasets/
logs/
*.csv
*.json

# pytorch
*.pth
experiments/llm_from_scratch/ch05/gpt2
experiments/llm_from_scratch/ch06/sms_spam_collection
*.zip